body {
  background-color: #32322C;
  font-size: large;
  font-family: Calibri, sans-serif;
  color: #1A2628;
}

.oleo-font {
  font-family: 'Oleo Script', cursive;
}

.card {
  background-color: #E5E8DC;
}

.movie-title {
  font-size: 32pt;
}

.title {
  color: #E5E8DC;
  font-size: 60pt;
  letter-spacing: 10px;
}

.dave-fave strong {
  /* font-size: 48pt; */
  font-size: 36pt;
  color: #FF8C00;
}

.tmdb {
  width: 48px;
  height: 48px;
}

@media only screen and (min-width: 920px){
  .movie-info-item {
    font-size: x-large;
  }

  p {
    font-size: larger;
  }
}

@media only screen and (max-width: 768px){
  .movie-info-item {
    font-size: large;
  }
}