body {
  font-size: large;
}

.card {
  /* height: 75vh; */
}

.movie-info-item {
  /* z-index: 1000; */
}

.dave-fave {
  /* position: absolute;
  top: 2%;
  right: 0; */
  /* z-index: 100 !important; */
}

.dave-fave strong {
  /* font-size: 48pt; */
  font-size: xx-large;
}